.displayHeader{
  background: #1C1E26;
  height: 6.5rem;
  display: flex;
  align-items: center;
  padding: 2rem 4rem;
}

.typography {
  color: #AAAAAF !important;
}

.displayLinks {
  margin-left: auto;
}

.link {
  text-decoration: none;
  margin-left: 2rem;
}
.logo {
  // padding: 10px 10px;
  width: 8rem;
}