.displayHeader{
  background: #1C1E26;
  height: 6.5rem;
  display: flex;
  align-items: center;
  padding: 2rem 2rem;
}

.typography {
  color: #AAAAAF !important;
}

.displayLinks {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 1rem;
}

.link {
  text-decoration: none;
  color:  #AAAAAF;

}

.logo {
  width: 8rem;
}